body {
	margin :0;
	padding :0;
	background-color:#fff;
}

ul{
	position :absolute;
	top :50%;
	left :50%;
	transform :translate(-50%, -50%);
	margin :0;
	padding :0;
	display :flex;
}
/*seperate buttons */
ul li {
	list-style :none;
	margin :0 40px;
}
/*button size  and color*/
ul li a .fa {
	font-size :40px;
	color :#fff;
	line-height :80px;
	transition :.5s;
}

ul li a {
	position :relative;
	display :block;
	width :80px;
	height :80px;
	background :#fff;
	text-align :center;
	transform : perspective(1000px) rotate(-30deg) skew(25deg) translate(0,0);
	transition :.5s;
	box-shadow :-20px 20px 10px rgba(0,0,0,.5);
}

ul li a:before {
	content :' ';
	position :absolute;
	top :10px;
	left :-20px;
	height :100%;
	width :20px;
	background :#b1b1b1;
	transform: rotate(0deg) skewy(-45deg); 
}

ul li a:after {
	content :' ';
	position :absolute;
	bottom :-20px;
	left :-10px;
	height :20px;
	width :100%;
	background :#b1b1b1;
	transition: .5s;
	transform: rotate(0deg) skewx(-45deg); 
}

ul li a:hover {
	transform : perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
	box-shadow : -50px 50px 50px rgba(0,0,0,.5);
}

ul li:hover  . fa {
	color :#ffffff;
}

ul li:nth-child(1) a {
	background :#3b5999;  
}
		ul li:hover:nth-child(1) a:before {
			background :#2e4a86;  
		}
		ul li:hover:nth-child(1)  a:after {
			background :#4a69ad;  
}
ul li:nth-child(2) a {
	background :#55acee;
}
		ul li:hover:nth-child(2) a:before {
			background :#4184b7;  
		}
		ul li:hover:nth-child(2)  a:after {
			background :#4d9fde;  
}
ul li:nth-child(3) a {
	background :#dd4b39;
}
		ul li:hover:nth-child(3) a:before {
			background :#c13929;  
		}
		ul li:hover:nth-child(3)  a:after {
			background :#e8432e;  
}
ul li:nth-child(4) a {
	background :#007bb5;
}
		ul li:hover:nth-child(4) a:before {
			background :#036aa0;  
		}
		ul li:hover:nth-child(4)  a:after {
			background :#0d82bf;  
}
ul li:nth-child(5) a {
	background :#e95950;
}
ul li:hover:nth-child(5) a:before {
			background :#e95950;  
}

		ul li:hover:nth-child(5)  a:after {
			background :#e95950;  
}



































